/**
* @ 圆角
* @ type{String:top,right,bottom,left;}
*/
/**
* @ 渐变色
* @ type{String:start-color,end-color}
*/
/**
* @ 阴影
* @ type{String:x坐标,y坐标,阴影长度,阴影颜色}
*/
/**
* @ 触发haslayout
* @ ie使用zoom
*/
/**
* @ 背景图
* @ type{String:xxx.jpg;}
*/
/**
* @ 定位
* @ type{String:top,left,方式;}
*/
/**
* @透明度
* @type{width,float}
*/
/**
* @英文自动折行
*/
/**
* @文字截断
*/
.textOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/**
* @rgba
* @type{String r,g,b,a}
*/
/**
* @模块
* @type{width,float}
*/
body {
  background: #66a8e5 url(../images/apollo_bg.jpg) center top no-repeat;
}
.main {
  height: 100%;
}
