<div id="controller" data-type="controller" style="left:<%= pos.controller.left %>px;top:<%= pos.controller.top %>px">
    <!--controller drag block-->
    <div id="controller-drag">
        <i id="drag-minimize">x</i>
    </div>
    <!--controller drag block-->
    <span id="base-info-title" class="controller-title controller-title-top">个人资料</span>
    <div id="base-info-con" class="constroller-con active">
        <ul>
            <li>
                <div class="controller-panel-nav">
                    <h4>个人信息</h4>
                </div>
                <div class="controller-panel-nav">
                    <h4>联系方式</h4>
                </div>
                <div class="controller-panel-nav">
                    <h4>链接<em>0</em></h4>
                </div>
            </li>
            <!--个人信息-->
            <li>
                <div class="controller-container-header">
                    <h4>个人信息</h4>
                </div>
                <div class="controller-section">
                    <label for="username">姓名</label>
                    <input type="text" name="username" class="constroller-inp" value="<%= locals.pos.username %>"/>
                </div>
                <div class="controller-section">
                    <label for="tags">标签</label>
                    <input type="text" name="tags" class="constroller-inp" value="<%= locals.pos.tags %>"/>
                </div>
                <div class="controller-section">
                    <label for="information">简介</label>
                    <div id="informationSet"></div>
                    <textarea name="des" id="information"></textarea>
                </div>
            </li>
            <!--联系方式-->
            <li>
                <div class="controller-container-header">
                    <h4>联系方式</h4>
                </div>
                <div class="controller-section baseinfo-mail">
                    <input type="text" class="constroller-inp"/>
                </div>
                <div class="controller-section baseinfo-qq">
                    <input type="text" class="constroller-inp"/>
                </div>
                <div class="controller-section baseinfo-msn">
                    <input type="text" class="constroller-inp"/>
                </div>
                <div class="controller-section baseinfo-tel">
                    <input type="text" class="constroller-inp"/>
                </div>
            </li>
            <li>

            </li>
        </ul>
    </div>
    <span id="page-desgin-title" class="controller-title">页面设计</span>
    <div id="page-desgin-con" class="constroller-con">
        <ul>
           <li>
               <div class="controller-panel-nav">
                   <h4>背景图</h4>
               </div>
               <div class="controller-panel-nav">
                   <h4>色彩</h4>
               </div>
               <div class="controller-panel-nav">
                   <h4>字体</h4>
               </div>
               <div class="controller-panel-nav">
                   <h4>图标</h4>
               </div>
           </li>
           <li>
               <div class="controller-container-header">
                   <h4>背景图</h4>
               </div>
               <div class="controller-section">
                   <div class="tab-box">
                       <span>上传</span><span>设置</span>
                   </div>
                   <div id="background-list" class="tab-con">
                       <div id="bg-list">
                           <a href="#" class="bg-list-item bg-list-none" id="backgrounds-list-none"></a>
                           <div class="bg-list-item">
                               <img src="xx/xxx/xx.jpg" alt="" class="bg-list-icon"/>
                           </div>
                       </div>
                   </div>
                   <div id="background-options" class="tab-con">

                   </div>
               </div>
           </li>
           <li>

           </li>
           <li>

           </li>
        </ul>
    </div>
    <span id="sns-accounts-title" class="controller-title">社交账户</span>
    <div id="sns-accounts-con" class="constroller-con">
        123123
    </div>
</div>