<div id="controller" data-type="controller" style="left:<%= controller.left %>px;top:<%= controller.top %>px">
    <!--controller drag block-->
    <div id="controller-drag">
        <i id="drag-minimize">x</i>
    </div>
    <!--controller drag block-->
    <span id="base-info-title">个人资料</span>
    <div id="base-info-con">
        123123
    </div>
    <span id="page-desgin-title">页面设计</span>
    <div id="page-desgin-con">
        123123
    </div>
    <span id="sns-accounts-title">社交账户</span>
    <div id="sns-accounts-con">
        123123
    </div>
</div>