<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../assets/css/base.css"/>
</head>
<body>
<!--header-->
    <div class="header">
        <div class="header-bar clearfix">
            <!--logo-->
            <div class="logo fl">
                <h1>SocialCard</h1>
            </div>
            <!--menu-->
           <div class="menu fr">
               <a href="#">我的主页</a>
               <a href="#">退出</a>
           </div>
            <!--menu end-->
        </div>
    </div>
<!--header end-->
    <div class="main">
        <div id="layout-page"></div>
        <div id="controller">
            <!--controller drag block-->
            <div id="controller-drag">
                <i id="drag-minimize">x</i>
            </div>
            <!--controller drag block-->
            <span id="base-info-title">个人资料</span>
            <div id="base-info-con">
                123123
            </div>
            <span id="page-desgin-title">页面设计</span>
            <div id="page-desgin-con">
                123123
            </div>
            <span id="sns-accounts-title">社交账户</span>
            <div id="sns-accounts-con">
                123123
            </div>
        </div>
    </div>
</body>
</html>